/* font upload */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
/* font upload */

body {
  font-family: "Sora", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-banner {
  background-image: url(../src/assets/images/bg-shadow.png);
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .header-container {
    position: relative;
    padding: 20px 0;
  }
  .open {
    display: flex;
    transition: 0.5s ease;
  }
  ul {
    display: none;
    flex-direction: column;
    background-color: #e7fe29;
    position: absolute;
    top: 100px;
    z-index: 111;
    width: 100%;
    padding: 20px 20px 40px 0;
    transition: all 0.5s ease;
  }
  ul li {
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
    transition: all 0.5s ease;
  }
  ul li:hover {
    background-color: #e9ee89;
  }
}
