/* font upload */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
/* font upload */

body {
  font-family: "Sora", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-banner {
  background-image: url(../src/assets/images/bg-shadow.png);
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}
